@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.zindexfix {
		transform: translate3d(0, 0, 0);
	}

	.layout {
		@apply w-4/5 md:w-3/4 ml-auto mr-12 md:mr-14 lg:mr-36 mb-20 md:mb-24 lg:mb-32;
	}

	.image {
		@apply rounded-lg object-cover object-center zindexfix;
	}

	.title {
		@apply text-4xl md:text-5xl lg:text-6xl tracking-tighter ;
	}

	.text {
		@apply text-lg sm:text-xl lg:text-2xl p-4 lg:p-6 bg-slate-50  dark:bg-slate-900 zindexfix rounded-lg shadow-xl;
	}

	.textS {
		@apply text-sm sm:text-lg lg:text-xl p-4 lg:p-6 bg-slate-50  dark:bg-slate-900 zindexfix rounded-lg shadow-xl;
	}

	.info {
		@apply layout flex flex-col lg:flex-row gap-2;
	}

	.icons {
		@apply text-3xl md:text-4xl p-3 bottom-20 right-0 fixed;
	}

	.vertical {
		writing-mode: vertical-rl;
		text-orientation: upright;
	}

	.section-min-height {
		min-height: calc(100vh - 68px);
		/* viewport height minus height of the header */
	}

	.toggle-btn {
		@apply [&>span::before]:translate-y-0 [&>span::before]:rotate-45 [&>span::after]:translate-y-0 [&>span::after]:-rotate-45 [&>span]:rotate-[-720deg] [&>span]:bg-transparent;
	}

	.animate-text {

		@apply opacity-0 scale-50 transition duration-700
	}
}
